/* The parent wrapper */
[data-ff-modal] {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  left: 50%;
  background: white;
  z-index: 2;
}
/* Shown and hidden states on the wrapper div */
[data-ff-modal='shown'] {
  display: block;
}
[data-ff-modal='hidden'] {
  display: none;
}
/* Modal header and footer divs */
[data-ff-modal-header],
[data-ff-modal-footer] {
  overflow: hidden;
}
/* The body div of the modal, where the content goes */
[data-ff-modal-body] {
  overflow: auto;
}
/* Styles for the backdrop overlay the modal */
[data-ff-modal-backdrop] {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
  display: none;
}
/* Shown and hidden states for the backdrop overlay */
[data-ff-modal-backdrop='shown'] {
  display: block;
}
[data-ff-modal-backdrop='hidden'] {
}
/* The modal close button -- you can use a pseudo-selector with a content rule to add a character or icon */
[data-ff-modal-close-button] {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

