
.ff-modal {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  left: 50%;
  background: white;
  z-index: 2;
  display: none;
}

.ff-modal-header,
.ff-modal-footer {
  overflow: hidden;
}

.ff-modal.ff-modal--inView {
  display: block;
}

.ff-modalBackdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
  display: none;
}

.ff-modalBackdrop.ff-modalBackdrop--inView {
  display: block;
}

.ff-modal-closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.ff-modal-body {
  overflow: auto;
}

