[data-ff-notification] {
}
[data-ff-notification='shown'] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: white;
  padding: 1em;
}
[data-ff-notification='hidden'] {
  display: 'none';
}
