/* This selects both the labels and the content divs */
[data-ff-tabswap] {
}
/* This selects the wrapper div around the labels */
[data-ff-tabswap-labels-wrapper] {
}
/* This selects a wrapper div around each label */
[data-ff-tabswap-label-wrapper] {
}
/* This selects the anchor element for each label */
[data-ff-tabswap-label] {
  cursor: pointer;
  display: inline-block;
  padding: 1em 2em;
}
/* This selects an active label anchor tag */
[data-ff-tabswap-label='active'] {
  font-weight: bold;
}
/* This selects an inactive label anchor tag */
[data-ff-tabswap-label='inactive'] {
}
/* The value of this attr is the total number of labels */
[data-ff-tabswap-labels-count] {
}
/* This selects a wrapper div around the content */
[data-ff-tabswap-content-wrapper] {
}
/* The value of this attr is the total amount of content */
[data-ff-tabswap-content-count] {
}
/* The div surrounding each content section */
[data-ff-tabswap-content] {
}
/* An active content section */
[data-ff-tabswap-content='active'] {
  display: block;
}
/* An inactive content section */
[data-ff-tabswap-content='inactive'] {
  display: none;
}
