[data-ff-wizard] {
}
[data-ff-wizard-body] {
}
[data-ff-wizard-followup] {
}
[data-ff-wizard-followup='incomplete'] {
  display: none;
}
[data-ff-wizard-followup='complete'] {
  display: block;
}
[data-ff-wizard-label-wrapper] {
}
[data-ff-wizard-label='complete'] {
  display: none;
}
[data-ff-wizard-label='incomplete'] {
  display: block;
}
[data-ff-wizard-label] {
  display: inline-block;
  text-align: center;
}
[data-ff-wizard-label='current'] {
  font-weight: bold;
}
[data-ff-wizard-label='accessible'] {
}
[data-ff-wizard-label='inaccessible'] {
}
[data-ff-wizard-content-wrapper] {
}
[data-ff-wizard-content-wrapper='complete'] {
  display: none;
}
[data-ff-wizard-content-wrapper='incomplete'] {
  display: block;
}
[data-ff-wizard-content] {
}
[data-ff-wizard-content='not-current'] {
  display: none;
}
[data-ff-wizard-content='current'] {
  display: block;
}
